{% load i18n humanize staticfiles auth_tokens %}
<div id="modal-start-campaign" class="modal fade modal-start-campaign" tabindex="-1" role="dialog" aria-labelledby="modal-start-campaign">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-lg" style="text-align: center">
            <div class="modal-header no-border " style="background: #319dd5; color: #ffffff">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #ffffff">&times;</span></button>
                <h4 class="modal-title" id="campaign_modal_title" style="text-align: center">{% trans "CONFIGURE YOUR AUDIENCE" %}</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-custom">
                            <div class="">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#importCSV">{% trans "Import contact from CSV file" %}</a>
                                </h4>
                            </div>
                            <div id="importCSV" class="panel-collapse collapse">
                                <div class="panel-body hidden-xs" style="padding-top: 1.5vh;">
                                    <a href="{% static "echo/ikwen_SMS_campaign_csv_model.csv" %}" style="text-decoration: none;">{% trans "Download CSV file model..." %}</a>
                                </div>
                                <form>
                                  <div class="form-group">
                                      <div class="text-center" style="padding-top: 3vh;" id="csv-upload-container">
                                          <div class="uploader"></div>
                                          <div class="upload-csv-label"></div>
                                      </div>
                                  </div>
                                </form>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="panel panel-custom">
                            <div class="">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">{% trans "Send message to selected profile" %}</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="" id="new-contact-profiles" style="padding-top: 2vh; text-align: left">
                                        <div class="row center-on-mobil">
                                        {% for profile in profiletag_list %}
                                            <div class="checkbox tile col-xs-6 col-sm-4 col-md-3">
                                                <label for="squaredThree">
                                                     <h5>
                                                         <input type="checkbox" id="{{ profile.id }}" value="{{ profile.id }}" name="profiles" class="profiles">
                                                         <label for="{{ profile.id }}" class="checkbox-label">{{ profile.name }}</label>
                                                     </h5>
                                                </label>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-custom">
                            <div class="">
                                <h4 class="panel-title">
                                    <a class="send-to-all" data-dismiss="modal" href="#">
                                        {% trans "Send SMS campaign to all your community" %}&nbsp;&nbsp;<span class="badge badge-custom"> {{ member_count }} </span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-border" style="padding-top: 0 !important; text-align: center !important;">
                <button type="button" class="btn btn-success btn-confirm-modal " data-dismiss="modal">{% trans "Done" %}</button>
            </div>
        </div>
    </div>
</div>

<div id="insufficient-balance-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="insufficient-balance-modal" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-border " style="background: #233682; color: #ffffff">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #ffffff">&times;</span></button>
                <h4 class="modal-title" id="insufficient_balance_modal_title" style="text-align: center">{% trans "NOT ENOUGHT CREDIT..." %}</h4>
            </div>
            <div class="modal-body">
            <div class="detail-content text-center">
                <img alt="{% trans "Insufficient balance" %}">
            </div>
            </div>
            <div class="modal-footer no-border" style="text-align: center !important;">
                <button type="button" class="btn btn-primary"><a href="{% url 'echo:sms_bundle' %}" style="text-decoration: none; color: #ffffff">{% trans "Refill" %}</a></button>
            </div>
        </div>
    </div>
</div>