{% load i18n humanize static auth_tokens %}
<div id="modal-choose-recipient" class="modal fade modal-choose-recipient" tabindex="-1" role="dialog" aria-labelledby="modal-choose-recipient">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="text-align: center">
            <div class="modal-header no-border " style="background: #319dd5; color: #ffffff">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #ffffff">&times;</span></button>
                <h4 class="modal-title" id="push_campaign_modal_title" style="text-align: center">{% trans "CONFIGURE YOUR AUDIENCE" %}</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-custom" style="display: none">
                            <div class="">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#importCSV">{% trans "Import contact from CSV file" %}</a>
                                </h4>
                            </div>
                            <div id="importCSV" class="panel-collapse collapse">
                                <div class="panel-body hidden-xs" style="padding-top: 1.5vh;">
                                    <a href="{% get_static_prefix %}echo/{{ csv_model }}.csv" style="text-decoration: none;">{% trans "Download CSV file model..." %}</a>
                                </div>
                                <form>
                                  <div class="form-group">
                                      <div class="text-center" style="padding-top: 1vh;" id="csv-upload-container">
                                          <div class="uploader modal-campaign-uploader"></div>
                                          <div class="upload-csv-label"></div>
                                      </div>
                                  </div>
                                </form>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    {% if subscriber_count > 0 or registered_subscriber_count > 0 %}
                        <div class="panel panel-custom">
                            <div>
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapsedCommunity">{% trans "Send campaign to my community" %}</a>
                                </h4>
                            </div>
                            <div id="collapsedCommunity" class="panel-collapse collapse">
                                <div class="panel-body text-center">
                                    {% if subscriber_count > 0 %}
                                   <div class="radio custom-radio">
                                       <h4><label><input type="radio" name="audience" class="option option-subscriber" value="[All Subscriber]">{% trans "All subscribers" %}&nbsp;&nbsp;<span class="badge badge-custom"> {{ subscriber_count }} </span></label></h4>
                                   </div>
                                    {% endif %}
                                    {% if anonymous_subscriber_count > 0 %}
                                    <div class="radio custom-radio">
                                        <h4><label><input type="radio" name="audience" class="option option-member" value="[Anonymous Subscriber]">{% trans "Anonymous subscribers" %}&nbsp;&nbsp;<span class="badge badge-custom"> {{ anonymous_subscriber_count }} </span></label></h4>
                                    </div>
                                    {% endif %}
                                    {% if registered_subscriber_count > 0 %}
                                    <div class="radio custom-radio">
                                        <h4><label><input type="radio" name="audience" class="option option-member" value="[Registered Subscriber]">{% trans "Members only" %}&nbsp;&nbsp;<span class="badge badge-custom"> {{ registered_subscriber_count }} </span></label></h4>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-custom">
                            <div>
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapsedProfile">{% trans "Send campaign to selected profile" %}</a>
                                </h4>
                            </div>
                            <div id="collapsedProfile" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="" id="new-contact-profiles" style="padding-top: 2vh; text-align: left">
                                        <div class="row center-on-mobil">
                                        {% for profile in profiletag_list %}
                                            <div class="checkbox tile col-xs-6 col-sm-4 col-md-3">
                                                <label for="squaredThree">
                                                     <h5>
                                                         <input type="checkbox" id="{{ profile.id }}" value="{{ profile.id }}" name="profiles" class="profiles">
                                                         <label for="{{ profile.id }}" class="checkbox-label">{{ profile.name }}</label>
                                                     </h5>
                                                </label>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <div class="jumbotron" style="margin-bottom: 0">
                            <div class="text-center">
                                <h2>{% trans "You have not yet any subscriber" %}</h2>
                                <h4 class="text-muted">{% trans "Send Mail & SMS campaign to incite users to subscibe..." %}</h4>
                            </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer no-border" style="padding-top: 0 !important; text-align: center !important;">
            {% if subscriber_count > 0 or registered_subscriber_count > 0 or anonymous_subscriber_count > 0 %}
                <button type="button" class="btn btn-success btn-confirm-modal misc-btn " data-dismiss="modal">{% trans "Done" %}</button>
            {% else %}
                <a href="{% url "echo:mailcampaign_list" %}" class="btn btn-success btn-modal">{% trans "Mail campaign" %}</a>
                <a href="{% url "echo:sms_campaign" %}" class="btn btn-success btn-modal">{% trans "SMS campaign" %}</a>
            {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="insufficient-balance-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="insufficient-balance-modal" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-border " style="background: #233682; color: #ffffff">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #ffffff">&times;</span></button>
                <h4 class="modal-title" id="insufficient_balance_modal_title" style="text-align: center">{% trans "NOT ENOUGHT CREDIT..." %}</h4>
            </div>
            <div class="modal-body">
            <div class="detail-content text-center">
                <img alt="{% trans "Insufficient balance" %}">
            </div>
            </div>
            <div class="modal-footer no-border" style="text-align: center !important;">
                <button type="button" class="btn btn-primary"><a href="{% url 'echo:push_bundle' %}" style="text-decoration: none; color: #ffffff">{% trans "Refill" %}</a></button>
            </div>
        </div>
    </div>
</div>