{% extends 'echo/campaign_base.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
    <title> {% trans "Email campaign" %} - ikwen</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ikwen/css/uploader-single.css' %}" />
    <style>
        .mce-container { width: auto!important; }
    </style>
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}" ></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        (function () {
            var properties = {
                menubar: false,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code'
                ],
                paste_data_images: true,
                selector: '#mail-content',
                width : 200,
                height: 150,
                toolbar: 'undo redo | bold italic underline | bullist numlist | alignleft aligncenter alignright | link code',
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                    '//www.tinymce.com/css/codepen.min.css'
                ]
            };
            {% comment %}if ($(window).width() >= 768) {
                properties['width'] = 435;
            }{% endcomment %}
            tinymce.init(properties);
        })()
    </script>

{#    <script src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey=vaq5s47grhmo48gjkb0q1i0foiieunppuposvba5fqxef9fu'></script>#}
{#    <script>#}
{#        (function () {#}
{#            var properties = {#}
{#                paste_data_images: true,#}
{#                selector: '#mail-content',#}
{#                height: 500,#}
{#                menubar: false,#}
{#                plugins: [#}
{#                'advlist autolink lists link image charmap print preview anchor textcolor',#}
{#                'searchreplace visualblocks code fullscreen',#}
{#                'insertdatetime media table paste code help wordcount'#}
{#                ],#}
{#                toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',#}
{#                content_css: [#}
{#                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',#}
{#                '//www.tiny.cloud/css/codepen.min.css'#}
{#                ]#}
{#            };#}
{#            if ($(window).width() >= 768) {#}
{#                properties['width'] = 550;#}
{#            }#}
{#            tinymce.init(properties);#}
{#        })()#}
{#    </script>#}

{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            <div class="sold" style="text-align: right">
                <strong><p>{% trans "Remaining mail : " %}<span class="messaging-balance text-muted">{{ balance.mail_count }}</span></p></strong>
                <a style="text-decoration: none;" href="{% url 'echo:mail_bundle' %}"><strong><p>{% trans "Refill ? " %}</p></strong></a>
            </div>
            <div class="form col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3 all-content">
                <h3><label class="title"> {% trans "Email campaign" %}</label></h3>
                <form style="" class="campaign" method="post">{% csrf_token %}
                    <input type="hidden" name="keep_editing" value="yes">
                    <input class="filename" type="hidden" name="filename">
                    <input class="profile-checked" type="hidden" name="profiles">

                    {% if campaign %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="btn btn-sm btn-default btn-block toggle-send {% if campaign.keep_runnning %}running{% endif %}" data-campaign-id="{{ campaign.id }}">
                                        <i class="fa fa-play"></i>
                                        <span>{% trans "Start" %}</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="btn btn-sm btn-default btn-block show-modal-test" data-toggle="modal" data-target="#modal-test">
                                        <i class="fa fa-vial"></i>
                                        {% trans "Test" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-xs-10" style="padding-left: 0" >
                            {% if campaign.recipient_label %}
                                <input type="text" class="form-control recipient-list input-sm text-center" id="recipient-list" name="recipients" placeholder="{% trans 'To' %}" value="{{ campaign.recipient_label|truncatechars:33 }}" readonly>
                                <div class="reset-recipient-list">&times;</div>
                                {% else %}
                                    <input type="text" class="form-control recipient-list input-sm " id="recipient-list" name="recipients" placeholder="{% trans 'To' %}">
                                    <div class="reset-recipient-list tpl">&times;</div>
                            {% endif %}
                        </div>
                        <div class="col-xs-2 btn-start-campaign">
                            <i class="fa fa-bullhorn" data-toggle="modal" data-target="#modal-start-campaign"
                               title="Start a campaign" style="color: #888; font-size: 24px; height: 33px; width: 33px; line-height: 33px"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="text" class="form-control input-sm" id="subject"
                               name="subject" value="{{ campaign.subject }}" placeholder="{% trans 'Subject' %}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="text" class="form-control input-sm" id="pre-header"
                               name="pre_header" value="{{ campaign.pre_header }}" placeholder="{% trans 'Pre-Header' %}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-offset-1">
                            {% with image=campaign.image img_help_text='Add an image to your mail: 800x500px' %}
                                <input type="hidden" name="image_url" id="image_url" value="{% if image.name %}{{ image.url }}{% endif %}" />
                                {% include 'core/snippets/uploader_single.html' %}
                            {% endwith %}
                        </div>
                        <div class="clearfix"></div>

                    </div>

                    <div class="form-group">
                        <div class="">
                            <h5><label class="text-center" for="mail-content">{% trans "Message" %}</label></h5>
                            <div class="mail-content">
                                <textarea class="form-control input-sm"
                                          id="mail-content" name="content">{{ campaign.content|safe }}</textarea>
                            </div>
                        </div>

                    </div>
                    <input type="hidden" name="items_fk_list" value="{{ items_fk_list }}" />
                    <section class="content" style="width: 100%">
                        <ul id="content-items" style="padding-left: 0">
                            {% for item in item_list %}
                                <li class="ik-li" id="{{ item.id }}" data-id="{{ item.id }}">
                                    <div class="subtle-shade select">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </div>
                                    {% url 'kako:change_product' item.id as change_item_url %}
                                    {% if item.image and item.image.name %}
                                        <a href="{{ change_item_url }}" class="image" style="background-image: url({{ item.image.small_url }})"></a>
                                    {% else %}
                                        <a href="{{ change_item_url }}" class="image" style="background-image: url({% static 'ikwen/img/login-avatar.jpg' %})"></a>
                                    {% endif %}
                                    <div class="info">
                                        <a href="{{ change_item_url }}" class="full_name">{{ item.name }}</a>
                                    </div>
                                    <div class="actions">
                                        <i class="action glyphicon glyphicon-trash trash" title="{% trans "Delete item" %}"></i>
                                    </div>
                                </li>
                            {% endfor %}
                            <li class="ik-li">
                                <a href="{% url 'kako:product_list' %}?smart_link=yes&campaign=yes&smart_object_id={{ obj.id }}">
                                    <i class="icon link"></i>
                                    {% trans "Add products" %}
                                </a>
                            </li>
                        </ul>
                    </section>
                    <section class="call-to-action" style="border-bottom: 1px solid #eee ; padding-top: 8vh">
                        <div class="form-group">
                            <div class="">
                                <label for="cta-label">{% trans "Call-to-action button title" %}</label>
                                <input type="text" class="form-control input-sm" id="cta-label"
                                   name="cta" value="{{ campaign.cta }}" placeholder="{% trans 'Ex: Buy now' %}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label for="cta-url">{% trans "Call-to-action url link" %}</label>
                                <input type="text" class="form-control input-sm" id="cta-url"
                                   name="cta_url" value="{{ campaign.cta_url }}" placeholder="{% trans 'Ex: http://www.mysite.com/product' %}" />
                            </div>
                        </div>
                    </section>

                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3" style="clear: both; padding-top: 15px">
                        <button class="btn btn-sm btn-success btn-block">{% trans "Save" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-test" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Send a mail test" %}</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <p>{% blocktrans %}Input test emails. <em>Separate with coma</em>{% endblocktrans %}</p>
                    </div>
                    <div class="form-group">
                        <label for="test-emails">{% trans "Test emails" %}</label>
                        <textarea id="test-emails" class="form-control" cols="4"></textarea>
                    </div>
                    {% include 'core/snippets/spinner.html' %}
                    <div class="test-error text-danger"></div>
                    <div class="test-warning text-warning"></div>
                    <div class="test-success text-success"></div>
                    <div class="actions">
                        <div class="col-xs-12 col-sm-4 pull-right action">
                            <button class="btn btn-success btn-block btn-sm run-test"
                                    aria-label="OK">{% trans "Send test" %}</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 pull-right action">
                            <button class="btn btn-default btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    {% include 'echo/snippets/campaign_modals.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function () {
            $('.admin-form.campaign').submit(function() {

            });

            $('.toggle-send').click(function () {
                if ($(this).hasClass('running')) {
                    $(this).removeClass('running').addClass('paused');
                    $(this).children('i').removeClass('fa-pause').addClass('fa-play');
                    $(this).children('span').text('Start');
                    var params = {action: 'pause_campaign'};
                }
                else {
                    $(this).removeClass('paused').addClass('running');
                    $(this).children('i').removeClass('fa-play').addClass('fa-pause');
                    $(this).children('span').text('Pause');
                    var params = {action: 'start_campaign'};
                }
                $.getJSON('', params, function (data) {
                    if (data.insufficient_balance) {
                        $('#insufficient-balance-modal').modal('show')
                    } else if (data.error) {
                        ikwen.showFloatingNotice(data.error, '', 6)
                    }
                })
            });

            $('.run-test').click(function() {
                var emailList = $('#test-emails').val(),
                    params = {action: 'run_test', test_email_list: emailList};
                $('#modal-test .spinner').show();
                $('.test-error, .test-warning, .test-success').hide();
                $.getJSON('', params, function(data) {
                    $('#modal-test .spinner').hide();
                    if (data.error) {
                        $('.test-error').text(data.error).show();
                        return;
                    }
                    $('.test-success').text("{% trans "Your tests were sent" %}").show();
                    if (data.warning) {
                        var warning = data.warning.join('<br>');
                        $('.test-warning').html(warning).show();
                    }
                });
            })
        })();
    </script>
{% endblock %}
