{% extends 'echo/campaign_base.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
    <title> {% trans "Push campaign" %} - ikwen</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ikwen/css/uploader-single.css' %}" />
    <style>
        .mce-container { width: auto!important; }
    </style>
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}" ></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        (() => {
            const properties = {
                menubar: false,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code', 'textcolor', 'table',
                ],
                paste_data_images: true,
                selector: '#push-body',
                height: 450,
                toolbar: 'undo redo | fontsizeselect | forecolor backcolor | bold italic underline | bullist numlist | table | alignleft aligncenter alignright | link code',
                fontsize_formats: '11px 12px 14px 16px 18px 24px 36px 48px',
                textcolor_map: [
                                "000000", "Black",
                                "AB182B", "Burnt orange",
                                "333300", "Dark olive",
                                "003300", "Dark green",
                                "003366", "Dark azure",
                                "000080", "Navy Blue",
                                "333399", "Indigo",
                                "333333", "Very dark gray",
                                "800000", "Maroon",
                                "FF6600", "Orange",
                                "808000", "Olive",
                                "008000", "Green",
                                "008080", "Teal",
                                "0000FF", "Blue",
                                "666699", "Grayish blue",
                                "808080", "Gray",
                                "FF0000", "Red",
                                "FF9900", "Amber",
                                "99CC00", "Yellow green",
                                "339966", "Sea green",
                                "33CCCC", "Turquoise",
                                "3366FF", "Royal blue",
                                "800080", "Purple",
                                "999999", "Medium gray",
                                "FF00FF", "Magenta",
                                "FFCC00", "Gold",
                                "FFFF00", "Yellow",
                                "00FF00", "Lime",
                                "00FFFF", "Aqua",
                                "00CCFF", "Sky blue",
                                "993366", "Red violet",
                                "FFFFFF", "White",
                                "FF99CC", "Pink",
                                "FFCC99", "Peach",
                                "FFFF99", "Light yellow",
                                "CCFFCC", "Pale green",
                                "CCFFFF", "Pale cyan",
                                "99CCFF", "Light sky blue",
                ],
                content_css: [
                                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                                '//www.tinymce.com/css/codepen.min.css'
                ],
                init_instance_callback: (editor) => {
                    editor.on('keyup', (e) => {
                        let mailContent = tinyMCE.get('push-body').getContent();
                        $('div.mce-tinymce').removeClass('warning');
                        if($('input[name=subject]').val() != "" && mailContent !="") {
                            $('.start-campaign').removeClass('disabled');
                            $('.show-modal-test').removeClass('not-allowed')
                        }
                        else {
                            $('.start-campaign').addClass('disabled');
                            $('.show-modal-test').addClass('not-allowed')
                        }
                    });
                }
            };
            {% comment %}if ($(window).width() >= 768) {
                properties['width'] = 435;
            }{% endcomment %}
            tinymce.init(properties);
        })()
    </script>

{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            <div class="sold" style="text-align: right">
                <strong><p>{% trans "Remaining Push notification(s) : " %}<span class="messaging-balance text-muted">{{ balance.push_count|intcomma }}</span></p></strong>
                <a style="text-decoration: none;" href="{% url 'echo:push_bundle' %}"><strong><p>{% trans "Refill ? " %}</p></strong></a>
            </div>
            <div class="form all-content">
                <h3 class="text-center"><label class="title"> {% trans "Push campaign " %}</label>
                    {% if campaign.terminated %}
                        <form action="{% url 'echo:change_pushcampaign' %}" id="clone-campaign" style="display: inline">
                            <input id="action" name="action" type="hidden" value="clone_campaign" required>
                            <input id="campaign-id" name="campaign_id" type="hidden" value="{{ campaign.id }}">
                        </form>
                    &nbsp;&nbsp;<i class="fas fa-clone clone-campaign" title="{% trans 'Clone this campaign' %}"></i>
                    {% endif %}
                </h3>
                <form class="row campaign{% if campaign and campaign.terminated %} terminated{% endif %}" method="post">{% csrf_token %}
                    {% if form.errors %}
                        <div class="errorlist">{{ form.errors }}</div>
                    {% endif %}
                    <input type="hidden" name="keep_editing" value="yes">
                    <input class="filename" type="hidden" name="filename" {% if campaign.recipient_src == "[File]" %} value="{{ campaign.recipient_label }}" {% endif %}>
                    <input class="audience-choose" type="hidden" name="audience"{% if campaign.recipient_src == "[All Subscriber]" or campaign.recipient_src == "[Registered Subscriber]" %} value="{{ campaign.recipient_label }}" {% endif %}>
                    <input class="profile-checked" type="hidden" name="profiles"{% if campaign.recipient_src == "[Profiles]" %} value="{{ campaign.recipient_profile }}" {% endif %}>
                    <div class="col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3">
                        {% if campaign and not campaign.terminated %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        {% if not campaign.is_started %}
                                            <div class="btn btn-sm btn-default btn-block start-campaign{% if not campaign.subject %} disabled {% endif %}" data-campaign-id="{{ campaign.id }}">
                                                <i class="fa fa-play"></i>
                                                <span class="status">{% trans "Start" %}</span>
                                            </div>
                                        {% elif campaign.keep_running %}
                                            <div class="btn btn-sm btn-default btn-block toggle-send running" data-campaign-id="{{ campaign.id }}">
                                                <i class="fa fa-pause"></i>
                                                <span>{% trans "Pause" %}</span>
                                            </div>
                                        {% else %}
                                            <div class="btn btn-sm btn-default btn-block toggle-send paused" data-campaign-id="{{ campaign.id }}">
                                                <i class="fa fa-play"></i>
                                                <span>{% trans "Start" %}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="btn btn-sm btn-default btn-block show-modal-test {% if not campaign.subject %} not-allowed {% endif %}"  data-toggle="modal" data-target="#modal-test">
                                            <i class="fa fa-vial"></i>
                                            {% trans "Test" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="col-xs-8" style="padding-left: 0" >
                                <input type="text" class="form-control recipient-list input-sm {% if campaign.recipient_label or campaign.is_started %}text-center {% endif %}"
                                       id="recipient-list"
                                       name="recipients"
                                       placeholder="{% trans 'To' %}"
                                       {% if campaign.recipient_label or campaign.is_started %}value="{{ campaign.recipient_label }}"{% endif %}
                                       autocomplete="off"
                                       readonly
                                       style="cursor: pointer" />
                            </div>
                            {% if campaign.is_started %}
                                    <div class="col-xs-4 btn-choose-recipient not-allowed text-center">
                                        <i class="fa fa-bullhorn" style="color: #888; font-size: 24px; height: 33px; width: 33px; line-height: 33px"></i>
                                    </div>
                            {% else %}
                                <div class="col-xs-4 btn-choose-recipient text-center" data-toggle="modal" data-target="#modal-choose-recipient" title="Start a campaign" >
                                    <i class="fa fa-bullhorn"style="color: #888; font-size: 24px; height: 33px; width: 33px; line-height: 33px"></i>
                                </div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="mail-campaign-content" {% if not campaign %} style="display: none" {% endif %}>
                        <div class="col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3 col-xs-12">
                            <div class="form-group">
                                <div class="">
                                    <input type="text" class="form-control input-sm" id="subject"
                                       name="subject" value="{{ campaign.subject }}" placeholder="{% trans 'Title' %}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-offset-1">
                                    {% with image=campaign.image img_help_text='Add an image to your mail: 800x500px' %}
                                        <input type="hidden" name="image_url" id="image_url" value="{% if image.name %}{{ image.url }}{% endif %}" />
                                        {% include 'core/snippets/uploader_single.html' %}
                                    {% endwith %}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class=" col-lg-8 col-sm-6 col-lg-offset-2 col-sm-offset-3">
                            <div class="form-group">
                                <div class="">
                                    <h5><label class="text-center" for="push-body">{% trans "Message" %}</label></h5>
                                    <div class="push-body">
                                        <textarea class="form-control input-sm" id="push-body" name="content">{{ campaign.content|safe }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3">
                            <section class="call-to-action" style="border-bottom: 1px solid #eee ; padding-top: 8vh">
                                <div class="form-group">
                                    <div class="">
                                        <label for="cta-url">{% trans "Target page url link" %}</label>
                                        <input type="text" class="form-control input-sm" id="cta-url"
                                           name="cta_url" value="{{ campaign.cta_url }}" placeholder="{% trans 'Ex: http://www.mysite.com/product' %}" />
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    {% if not campaign %}
                    <div class="form-group col-xs-12 col-sm-4 col-sm-offset-4 btn-continue misc-btn not-allowed" style="clear: both; padding-top: 15px">
                        <button class="btn btn-md btn-success btn-block">{% trans "Continue" %}</button>
                    </div>
                    {% elif not campaign.terminated  %}
                    <div class="form-group col-xs-12 col-sm-4 col-sm-offset-4" style="clear: both; padding-top: 15px">
                        <button class="btn btn-md btn-success btn-block misc-btn">{% trans "Save" %}</button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-test" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Send a Push notification test" %}</h4>
                </div>
                <div class="modal-body">
                    <h4 class="test-error text-danger text-center animated blink infinite"></h4>
                    <h4 class="test-warning text-warning text-center animated blink infinite"></h4>
                    <h4 class="test-success text-success text-center animated blink infinite"></h4>
                    <form class="col-sm-8 col-sm-offset-2" method="post">{% csrf_token %}
                    {% if form.errors %}
                        <div class="errorlist">{{ form.errors }}</div>
                    {% endif %}
                    <input type="hidden" id="customer-id" name="member_id" />
                    <input type="hidden" id="customer-email" name="email" />
                    {% if not form.errors %}
                        <div class="form-group" style="padding: 20px 15px 0">
                            <label for="customer-name">{% trans "Tester name" %}</label>
                            <div>
                                <input id="customer-name" class="form-control input-sm" type="text" autocomplete="off"/>
                                {{ form.member_id.errors }}
                                <div class="results customers has-shade" style="display: none" data-min-search-chars="2">
                                    {% include 'core/snippets/spinner.html' %}
                                    <ul style="padding-left: 0">
                                        <li class="member tpl" style="display: none">
                                            <div style="display: block">
                                                <span class="photo logo bg-img" style="background-image: url({% static 'ikwen/img/no_photo.png' %})"></span>
                                                <div style="float: left; margin-left: 30px">
                                                    <span class="full_name"></span>
                                                    <p class="about short_description"></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="" style="margin-top: 3vh">
                                <button type="button" class="btn btn-sm btn-block btn-success run-test" disabled>{% trans "Send test" %}</button>
                            </div>
                        </div>
                    {% endif %}
                </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    {% include 'echo/snippets/push_campaign_modals.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function () {
            $('.results.customers').on('click', 'li.member', function() {
                let customerId = $(this).data('id'),
                    customerName = $(this).find('.full_name').text();
                if (customerId && customerName) {
                    $('#customer-id').val(customerId);
                    $('#customer-name').val(customerName);
                    $('.run-test').prop('disabled', false);
                }
            }).css('width', $('#customer-name').css('width'));
            $('#customer-name').keyup(function() {
                let val = $(this).val();
                if (val.isValidEmail()) {
                    $('#customer-id').val('');
                    $('#customer-email').val(val);
                    $('.run-test').prop('disabled', false);
                } else {
                    $('#customer-email').val('');
                    $('.run-test').prop('disabled', true);
                }
            });
            {% url 'ikwen:member_list' as list_members_url %}
            let searchDescriptor = [{
                endpoint: '{{ list_members_url }}',
                resultTplSelector: '.results.customers li.member',
                maxChars: function() {
                    // The max number of characters that will be taken into consideration
                    // in the string typed by user to do the search. Characters above that
                    // limit will be ignored.
                    return Math.max($('#customer-name').val().length, 4);
                }
            }];
            $('#customer-name').focusout(function() {$('.results.customers').fadeOut()});
            ikwen.setupSearch('#customer-name', '.results.customers', searchDescriptor);

            $('input[name=subject]').keyup(function () {
                let pushBody = tinyMCE.get('push-body').getContent();
                $(this).removeClass('warning');
                if($('input[name=subject]').val() != "" && pushBody !="") {
                    $('.start-campaign').removeClass('disabled');
                    $('.show-modal-test').removeClass('not-allowed')
                }
                else {
                    $('.start-campaign').addClass('disabled');
                    $('.show-modal-test').addClass('not-allowed')
                }
            });

            $('.start-campaign:not(.toggle-send)').one( 'click', function () {
                if($(this).hasClass('disabled')) {
                    if($('input[name=subject]').val() === "") {
                        $('input[name=subject]').addClass('warning');
                    }
                    let mailContent = tinyMCE.get('push-body').getContent();
                    if (mailContent === "") {
                        $('div.mce-tinymce').addClass('warning')
                    }

                } else {
                    let params = {action: 'start_campaign'};
                    $.getJSON('', params, function (data) {
                        if (data.insufficient_balance) {
                            $('#insufficient-balance-modal').modal('show')
                        } else if (data.error) {
                            ikwen.showFloatingNotice(data.error, '', 6)
                        } else {
                            $('.start-campaign:not(.toggle-send)').toggleClass('start-campaign toggle-send running');
                            if ($('.toggle-send').hasClass('running')) {
                                $('.toggle-send i').removeClass('fa-play').addClass('fa-pause');
                                $('.toggle-send span').text('Pause')
                            }else {
                                $('.toggle-send i').removeClass('fa-pause').addClass('fa-play');
                                $('.toggle-send span').text('Start')
                            }
                        }
                    });
                }
            });

            $('body').on('click', '.toggle-send', function () {
                $('.recipient-list').prop("readonly", true);
                if ($(this).hasClass('running')) {
                    $(this).toggleClass('running paused');
                    $(this).children('i').toggleClass('fa-play fa-pause');
                    $(this).children('span').text('Start');
                } else if ($(this).hasClass('paused')) {
                    $(this).toggleClass('paused running');
                    $(this).children('i').toggleClass('fa-play fa-pause');
                    $(this).children('span').text('Pause');
                }
                $.getJSON('', {action: 'toggle_campaign'})
            }).on('click', '.run-test', () => {
                let customerId = $('#customer-id').val(),
                    params = {action: 'run_test', customer_id: customerId};
                $('#modal-test .spinner').show();
                $('.test-status .test-error, .test-warning, .test-success').hide();
                $.getJSON('', params, (data) => {
                    $('#modal-test .spinner').hide();
                    if (data.error) {
                        $('.test-status, .test-error').text(data.error).show();
                        return;
                    }
                    $('.test-status, .test-success').text("{% trans "Your tests were successfully sent!" %}").show();
                    if (data.warning) {
                        let warning = data.warning.join('<br>');
                        $('.test-status, .test-warning').html(warning).show();
                    }
                })
            }).on('click', '.recipient-list', (evt) => {
                evt.preventDefault();
                $('.btn-choose-recipient').click()
            }).on('click', '.clone-campaign', () => {
                $('#clone-campaign').submit();


            });
            $('form.campaign.terminated input').prop('readonly', true);
            $('form.campaign.terminated .btn-choose-recipient').addClass('not-allowed');
            $('form.campaign.terminated .push-body').addClass('not-allowed');

        })();
    </script>
{% endblock %}
