{% extends 'echo/campaign_base.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
    <title> {% trans "SMS Campaign" %} - ikwen</title>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "SMS Campaign" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            <div class="sold" style="text-align: right">
                <strong>{% trans "Remaining SMS : " %}<span class="messaging-balance text-muted">{{ balance.sms_count|intcomma }}</span></strong>
{#                <a style="text-decoration: none" href="{% url 'echo:sms_bundle' %}"><span><p>{% trans "Refill ? " %}</p></span></a>#}
            </div>

            <div class="form col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3">
                <h3><label class="title">{% trans "Write your message" %}</label></h3>
                <form style="padding: 0 15px">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-10 col-xs-10" style="padding-left: 0;">
                                <input type="tel" class="form-control recipient-list input-sm" id="recipient-list" placeholder="To">
                                <div class="reset-recipient-list tpl">&times;</div>
                            </div>
                            <div class="col-sm-2 col-xs-2 btn-choose-recipient">
                                <i class="fa fa-bullhorn" data-toggle="modal" data-target="#modal-choose-recipient"
                                   title="Configure audience" style="color: #888; font-size: 24px; height: 33px; width: 33px; line-height: 33px"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <input type="text" class="form-control input-sm" id="sms-subject" placeholder="{% trans "Subject" %}">
                    </div>
                    <div class="row">
                        <textarea class="form-control input-sm sms-text " id="sms-text" placeholder="Message" rows="4"></textarea>
                        <div class="row">
                            <div class="col-sm-8 col-xs-8">
                                <p id="sms-char-count" class="help-block sms-char-count">0 / 160</p>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <p id="sms-page-count" class="help-block sms-page-count pull-right">0 SMS</p>
                            </div>
                        </div>
                        <div class="form-group pb-15">
                            <button class="form-control input-sm btn btn-success disabled btn-send" id="btn-send" name="btnSend" type="button" style="height:40px">{% trans "Send" %}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-8 col-sm-offset-2" style="padding-top: 45px;">
                <div class="col-sm-12 p-0">
                    <strong class="event-header">{% trans "History" %}</strong>
                    <hr class="event-separator">
                </div>

                <ul class="campaign-list p-0">
                    {% for campaign in campaign_list %}
                        <li class="col-sm-12 event{% if campaign.total > campaign.progress %} running{% endif %}" id="{{ campaign.id }}"
                            data-total-recipient="{{ campaign.total }}" data-page-count="{{ campaign.page_count }}" >
                            <div class="subtle-shade event-detail">
                                <div class="event-icon">
                                    <img src="{% static 'echo/img/sms-icon.png' %}" />
                                </div>
                                <div class="event-content">
                                    <div>
                                        <div class="col-md-6 row event-recipient-list">{{ campaign.recipient_label|truncatechars:"30" }}</div>
                                        <div class="col-md-4 col-md-offset-2 event-date text-muted text-right" style="padding-right: 0;">{{ campaign.created_on }}</div>
                                        <div class="clearfix"></div>
                                        {% if campaign.subject %}
                                            <em class="event-title text-muted" style="">{{ campaign.subject }}</em>
                                        {% else %}
                                            <em class="event-title text-muted">&lt;{% trans "No subject" %}&gt;</em>
                                        {% endif %}
                                        {% if campaign.recipient_count == 1 and not campaign.sample_sms.is_sent %}
                                            <i class="fas fa-exclamation-triangle text-danger pull-right"></i>
                                        {% endif %}
                                    </div>
                                    <p class="event-message">{{ campaign.text | truncatechars:"190" }}</p>
                                    <p class="event-message-full tpl">{{ campaign.text }}</p>
                                    {% if campaign.progress < campaign.total  %}
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{ campaign.progress_rate }}%;"></div>
                                    </div>
                                    {% endif %}
                                    <div class="actions">
                                        <button type="button" class="btn btn-warning pull-right btn-sm btn-detail" data-toggle="modal" data-target="#sms-detail-modal" style> {% trans "Detail" %}</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    {% empty %}
                        <li id="placeholder" class="placeholder"> {% trans "Your sent campaigns will show up here..." %}</li>
                    {% endfor %}

                     <li class="col-sm-12 event tpl">
                        <div class="subtle-shade event-detail">
                            <div class="event-icon">
                                <img src="{% static 'echo/img/sms-icon.png' %}" />
                            </div>
                            <div class="event-content">
                                <div>
                                    <div class="event-recipient-list"></div>
                                    <span class="event-title tpl"></span>
                                    <em class="event-title text-muted tpl">&lt;{% trans "No subject" %}&gt;</em>
                                </div>
                                <p class="event-message"></p>
                                <div class="progress" style="height: 10px">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 2%;"></div>
                                </div>
                                <div class="actions">
                                    {% comment %}{% if campaign %}
                                        <a class="btn btn-warning pull-right btn-sm" href="{% url 'echo:sms_hist' %}" target="_blank"> {% trans "Detail" %}</a>
                                    {% else %}
                                        <button type="button" class="btn btn-warning pull-right btn-sm" data-toggle="modal" data-target="#sms-detail-modal" style> {% trans "Detail" %}</button>
                                    {% endif %}{% endcomment %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
            </div>
{#            {% include 'echo/snippets/embed_doc.html' %}#}
        </div>
        {% include 'echo/snippets/campaign_modals.html' %}
        <div id="sms-detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sms-detail-modal" aria-hidden="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align: center">{% trans "SMS Detail" %}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="detail-content">
                        <div class="">
                            <strong class="title-message"></strong>
                            <em class="total-sms"></em>
                        </div>
                        <p class="detail-message"></p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'echo/js/sms-character-counter.js' %}" ></script>
    <script>
        (function () {
            if ($('.sms-text').val() !== '') $('.sms-text').removeClass('warning');

            $('.sms-text').keyup(function () {
                $('#text').removeClass('warning');
                if ($('.recipient-list').val() !== '' && $(this).val() !== '')
                    $('.btn-send').removeClass('disabled');
                else
                    $('.btn-send').addClass('disabled');
            });

            $('.btn-send').click(function () {
                if ($(this).hasClass('disabled')) {
                    $('#text').addClass('warning');
                    if ($('#recipient-list').val() === '') $('#recipient-list').addClass('warning');
                    return;
                }
                $(this).addClass('disabled');
                let recipient = $('.recipient-list').val(),
                    subject = $('#sms-subject').val(),
                    txt = $('#sms-text').val();
                if (!(recipient && txt)) {
                    if (!recipient) $('.recipient-list').addClass('warning');
                    if (!txt) $('#sms-text').addClass('warning');
                    return
                }
                let params = {action: 'start_campaign', filename: ikwen.filename, recipients: recipient,
                    profiles: ikwen.checkedProfiles.join(','), subject: subject, txt: txt};

                $.getJSON('', params, function (data) {
                    if (data.insufficient_balance) {
                        $('#insufficient-balance-modal').modal('show')
                    } else if (data.error) {
                        ikwen.showFloatingNotice(data.error, '', 6)
                    } else {
                        let $historyTpl = $('.event.tpl').clone().removeClass('tpl');
                        $historyTpl.find('.event-recipient-list').text(data.campaign.recipient_label.substr(0,30));
                        if (subject)
                            $historyTpl.find('span.event-title').text(subject).show();
                        else
                            $historyTpl.find('em.event-title').show();
                        if (txt.length > 190) $historyTpl.find('.event-message').text(txt.substr(0,190)+"...");
                        else $historyTpl.find('.event-message').text(txt);
                        $historyTpl.prependTo('.campaign-list').addClass('running').attr('id', data.campaign.id);
                        $('.messaging-balance').text(data.balance);
                        ikwen.intervalId = setInterval(ikwen.updateProgressBar, 5000);
                    }
                });
                setTimeout(function() {location.reload()}, 1000)
            });

            $('body').on('click', '.btn-detail', function () {
                let full_text = $(this).parents('.event').find('.event-message-full').text();
                let title = $(this).parents('.event').find('.event-title').text();
                let total_recipient = $(this).parents('.event').data('total-recipient');
                let page_count = $(this).parents('.event').data('page-count');
                let total_sms = total_recipient * page_count;
                $('#sms-detail-modal').find('.title-message').text(title);
                $('#sms-detail-modal').find('.total-sms').text('( '+ total_sms + ' SMS )');
                $('#sms-detail-modal').find('.detail-message').text(full_text);
            });
        })();
    </script>
{% endblock %}
