{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
    <title> {% trans "WEB campaign pricing" %} - ikwen</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'echo/css/echo.css' %}" />
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "SMS pricing plan" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">

            <div class="sold" style="text-align: right">
                <strong>{% trans "Remainig SMS : " %}<span class="balance">{{ balance.sms_count }}</span></strong>
            </div>
            <div class="panel bundle-pricing-table">
                {% for bundle in bundle_list %}
                <div class="bundle-pricing-plan">
                    {% if bundle.name == 'PERSONAL' %}
                    <img src="{% static 'echo/img/paper-plane.png' %}" alt="" class="pricing-img">
                    {% elif bundle.name == 'PROFESSIONAL' %}
                    <img src="{% static 'echo/img/plane.png' %}" alt="" class="pricing-img">
                    {% else %}
                    <img src="{% static 'echo/img/space-ship.png' %}" alt="" class="pricing-img">
                    {% endif %}
                    <h2 class="bundle-header">{{ bundle.name }}</h2>
                    <div class="bundle-features">
                      <span class="bundle-features-item">{{ bundle.credit }} SMS</span>
                    </div>
                    <p class="bundle-price"> <span class="currency">XAF </span> {{ bundle.cost | intcomma }}</p>
                    <button class=" btn btn-primary btn-buy-bundle payment-start animated infinite pulse" data-product-id="{{ bundle.id }}">{% trans "Buy" %}</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'billing/snippets/modal_payment_options.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function () {
            $('<input type="hidden" name="type" value="SMS" />').appendTo('#payment-start-flow');
        })();
    </script>
{% endblock %}
