{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
    <title> {% trans "WEB campaign" %} - ikwen</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
{#    <link rel="stylesheet" type="text/css" href="{% static 'echo/css/bootstrap-datepicker3.standalone.css' %}" />#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'echo/css/bootstrap-slider.css' %}" />#}
    <link rel="stylesheet" type="text/css" href="{% static 'echo/css/swiper.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ikwen/ajaxuploader/css/fileuploader.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'embed-doc/css/embed-doc.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'echo/css/echo.css' %}?v=18.11.02"/>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "SMS campaign" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">

            <div class="sold" style="text-align: right">
                <strong>{% trans "Remainig SMS : " %}<span class="balance">{{ balance.sms_count }}</span></strong>
                {% if balance.sms_count <= 200 %}
                    <a style="text-decoration: none" href="{% url 'echo:sms_bundle' %}"><strong><p>{% trans "Refill ? " %}</p></strong></a>
                {% endif %}
            </div>

            <div class="form col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3">
                <h4><label class="title">{% trans "Write your message" %}</label></h4>
                <form style="padding: 0 15px">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-10 col-xs-10" style="padding-left: 0;">
                                <input type="tel" class="form-control recipient-list input-sm" id="recipient-list" placeholder="To">
                                <div class="reset-recipient-list tpl">&times;</div>
                            </div>
                            <div class="col-sm-2 col-xs-2 btn-start-campaign">
                                <i class="fa fa-bullhorn" data-toggle="modal" data-target="#modal-start-campaign" title="Start a campaign" style="font-size: 25px;  height: 33px; width: 33px; line-height: 33px"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <input type="text" class="form-control input-sm" id="subject" placeholder="Object">
                    </div>
                    <div class="row">
                        <textarea class="form-control input-sm text " id="text" placeholder="Message" rows="4"></textarea>
                        <div class="row">
                            <div class="col-sm-8 col-xs-8">
                                <p id="sms-char-count" class="help-block sms-char-count">0 / 160</p>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <p id="sms-page-count" class="help-block sms-page-count pull-right">0 SMS</p>
                            </div>
                        </div>
                        <div class="form-group pb-15">
                            <button class="form-control input-sm btn btn-success disabled btn-send" id="btn-send" name="btnSend" type="button" style="height:40px"> Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-8 col-sm-offset-2" style="padding-top: 45px;">
                <div class="col-sm-12 p-0">
                    <strong class="event-header">{% trans "History" %}</strong>
                    <hr class="event-separator">
                </div>

                <ul class="campaign-list p-0">
                    {% for campaign in campaign_list %}
                        <li class="col-sm-12 event{% if campaign.total > campaign.progress %} running{% endif %}" id= "{{ campaign.id }}">
                            <div class="subtle-shade event-detail">
                                <div class="event-icon">
                                    <img src="{% static 'foulassi/img/report-card-icon.png' %}" />
                                </div>
                                <div class="event-content">
                                    <strong class="event-title">{{ campaign.subject }}</strong>
                                    <p class="event-message">{{ campaign.sms_set.all.0.text }}</p>
                                    {% if campaign.progress < campaign.total  %}
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{ campaign.progress_rate }}%;"></div>
                                    </div>
                                    {% endif %}
                                    <div class="actions">
{#                                        {% if campaign %}#}
{#                                            <a class="btn btn-warning pull-right btn-sm" href="{% url "echo:history" %}" target="_blank"> {% trans "Detail" %}</a>#}
{#                                        {% else %}#}
                                            <button type="button" class="btn btn-warning pull-right btn-sm" data-toggle="modal" data-target="#sms-detail-modal" style> {% trans "Detail" %}</button>
{#                                        {% endif %}#}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    {% empty %}
                        <li id="placeholder" class="placeholder"> {% trans "Your sent campaigns will be displayed here..." %}</li>
                    {% endfor %}

                     <li class="col-sm-12 event tpl">
                        <div class="subtle-shade event-detail">
                            <div class="event-icon">
                                <img src="{% static 'foulassi/img/report-card-icon.png' %}" />
                            </div>
                            <div class="event-content">
                                <strong class="event-title"></strong>
                                <p class="event-message"></p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 2%;"></div>
                                </div>
                                <div class="actions">
                                    {% if campaign %}
                                        <a class="btn btn-warning pull-right btn-sm" href="{% url 'echo:sms_hist' %}" target="_blank"> {% trans "Detail" %}</a>
                                    {% else %}
                                        <button type="button" class="btn btn-warning pull-right btn-sm" data-toggle="modal" data-target="#sms-detail-modal" style> {% trans "Detail" %}</button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
            </div>
            {% include 'echo/snippets/embed_doc.html' %}
        </div>

        <!--All Modal definitions-->

        <!--

            <br style="clear:both">
            <div id="start-campaign-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="start-campaign-modal" aria-hidden="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title" id="campaign_modal_title">{% trans "Let's make something big together" %}</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <form>
                              <div class="row">
                                  <div class="col-sm-6 p-0">
                                      <label for="campaign_title" data-toggle="tooltip" title="{% trans "Enter your campaign subject" %}" style="text-align: center;">{% trans "Campaign title" %}</label>
                                  </div>
                                  <div class="col-sm-12 p-0 pb-15">
                                      <input type="text" class="form-control campaign-title" id="campaign_title" placeholder="Title">
                                  </div>
                                  <div class="col-sm-6 p-0">
                                      <label for="purchase_datepicker" data-toggle="tooltip" title="{% trans "Set interval of" %}">{% trans "Last purchase date" %}</label>
                                  </div>
                                  <div class="form-group col-sm-6 input-daterange input-group p-0" id="purchase_datepicker" data-provide="datepicker">
                                    <input type="text" class="input-sm form-control" name="start" />
                                    <span class="input-group-addon" style=" color: #555; text-align: center; background-color: #eee; border: 1px solid #ccc;">to</span>
                                    <input type="text" class="input-sm form-control" name="end" />
                                  </div>
                                  <div class="col-sm-6 p-0">
                                      <label for="visit_datepicker" data-toggle="tooltip" title="{% trans "Set interval of" %}">{% trans "Last visit date" %}</label>
                                  </div>
                                  <div class="form-group col-sm-10 input-daterange input-group p-0" id="visit_datepicker" data-provide="datepicker">
                                    <input type="text" class="input-sm form-control" name="start" />
                                    <span class="input-group-addon" style=" color: #555; text-align: center; background-color: #eee; border: 1px solid #ccc;">to</span>
                                    <input type="text" class="input-sm form-control" name="end" />
                                  </div>
                                  <div class="col-sm-6 p-0">
                                      <label for="subscription_datepicker" data-toggle="tooltip" title="{% trans "Set interval of" %}">{% trans "Subscription date" %}</label>
                                  </div>
                                  <div class="form-group col-sm-10 input-daterange input-group p-0" id="subscription_datepicker" data-provide="datepicker">
                                    <input type="text" class="input-sm form-control" name="start" />
                                    <span class="input-group-addon" style=" color: #555; text-align: center; background-color: #eee; border: 1px solid #ccc;">to</span>
                                    <input type="text" class="input-sm form-control" name="end" />
                                  </div>
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                </div>
            </div>
-->

            <br style="clear:both">
            <div id="modal-start-campaign" class="modal fade modal-start-campaign" tabindex="-1" role="dialog" aria-labelledby="modal-start-campaign">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="text-align: center">
                      <div class="modal-header no-border " style="background: #233682; color: #ffffff">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #ffffff">&times;</span></button>
                        <h4 class="modal-title" id="campaign_modal_title" style="text-align: center">{% trans "CONFIGURE YOUR AUDIENCE" %}</h4>
                      </div>
                      <div class="modal-body">
                              <form>
                              <div class="form-group">
                                  <h5 class="col-sm-5 hidden-xs m-0"><label>{% trans "Import from " %}CSV{% trans " file" %}</label></h5>
                                  <span class="col-sm-2 col-xs-2 m-0"></span>
                                  <h5 class="col-sm-5 hidden-xs m-0"><label>{% trans "Select all your contact" %}</label></h5>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-5 hidden-xs">
                                      <a href="{% static "echo/ikwen_SMS_campaign_csv_model.csv" %}" style="text-decoration: none;">{% trans "Download CSV file model..." %}</a>
                                  </div>
                                  <div class="col-xs-5 visible-xs">
                                      <a href="{% static "echo/ikwen_SMS_campaign_csv_model.csv" %}" style=" text-align: right; text-decoration: none;">{% trans "CSV model..." %}</a>
                                  </div>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="form-group">
                                   {% comment %}<div class="col-sm-5 col-xs-5" style="padding: 0;" id="CSVFile">
                                      <input class="upload-csv" type="file" name="file" id="upload-csv" accept=".csv"
                                            data-url="{% url 'echo:sms_campaign' %}"
                                            data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'/>
                                      <div class="upload-csv-label"></div>
                                      <label for="upload-csv" class="upload-csv-label">
                                          <img class="upload-csv-icon pb-10" src="{% static 'echo/img/import-csv.png' %}" style="cursor: pointer; width: 130px;" title="{% trans 'Import contact list from' %}CSV{% trans ' file to send SMS campaign' %}">
                                          <div style="max-width: 100%; overflow-wrap: break-word"></div>
                                      </label>
                                  </div>{% endcomment %}

                                  <div class="col-sm-5 col-xs-5" style="padding: 0;" id="upload-container">
                                      <div class="uploader"></div>
                                      <div class="upload-csv-label"></div>
                                  </div>

                                  <div class="col-sm-2 col-xs-2" style="padding-top: 30px"><h4><label> {% trans "OR" %} </label></h4></div>
                                  <div class="col-sm-5 col-xs-5">
{#                                    <button class="btn btn-success btn-sm send-to-all" type="button" data-dismiss="modal" title="{% trans 'Send SMS campaign to all your contact.' %}">#}
                                      <img class="send-to-all"  style="cursor: pointer;" title="{% trans 'Send SMS campaign to all your community.' %}" data-dismiss="modal" src="{% static 'echo/img/community-btn-small.png' %}" alt= {% trans 'Send SMS campaign to all community btn' %} />
                                      <div><label> &nbsp; Contact &nbsp;</label><span class="badge"> {{ member_count }} </span></div>
                                  </div>
                              </div>
                          </form>
                          <div class="clear"></div>
                      </div>
                      <div class="modal-footer no-border" style="padding-top: 0 !important; text-align: center !important;">
                        <button type="button" class="btn btn-primary " data-dismiss="modal">{% trans "Done" %}</button>
                      </div>
                    </div>
                </div>
            </div>

            <div id="sms-detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sms-detail-modal" aria-hidden="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="sms_detail__modal_title" style="text-align: center">{% trans "SMS Detail" %}</h4>
                      </div>
                      <div class="modal-body">
                        <div class="detail-content">
                            <strong class="title-message">{{ campaign.subject }}</strong>
                            <hr>
                            <p class="detail-message">{{ campaign.sms_set.all.0.text }}</p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                </div>
            </div>

            <div id="insufficient-balance-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="insufficient-balance-modal" aria-hidden="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header no-border " style="background: #233682; color: #ffffff">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #ffffff">&times;</span></button>
                            <h4 class="modal-title" id="insufficient_balance_modal_title" style="text-align: center">{% trans "NOT ENOUGHT CREDIT..." %}</h4>
                        </div>
                        <div class="modal-body">
                        <div class="detail-content text-center">
                            <img src="..." alt="{% trans "Insufficient balance" %}">
                        </div>
                        </div>
                        <div class="modal-footer no-border" style="text-align: center !important;">
                            <button type="button" class="btn btn-primary"><a href="{% url 'echo:sms_bundle' %}" style="text-decoration: none; color: #ffffff">{% trans "Refill" %}</a></button>
                        </div>
                    </div>
                </div>
            </div>



    </div>



{% endblock %}

{% block js %}
    {{ block.super }}
{#    <script src="{% static 'echo/js/jquery_3.2.1.js' %}" ></script>#}
    <script src="{% static 'echo/js/bootstrap-datepicker.js' %}" ></script>
    <script src="{% static 'echo/js/sms_character_counter.js' %}" ></script>
{#    <script src="{% static 'echo/js/jquery.ui.widget.js' %}" ></script>#}
{#    <script src="{% static 'echo/js/jquery.iframe-transport.js' %}" ></script>#}
{#    <script src="{% static 'echo/js/jquery.fileupload.js' %}" ></script>#}
{#    <script src="{% static 'echo/js/csv_file_upload.js' %}" ></script>#}
    <script src="{% static 'echo/js/swiper.min.js' %}" ></script>
    <script src="{% static 'embed-doc/js/embed-doc.js' %}" ></script>
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}" ></script>
    <script>
        (function () {
            var filename, csv_name = '';

            {% comment %}$('.upload-csv').on('change', function (csvFile) {
                if (csvFile.target.value) {
                    filename = csvFile.target.value.split('\\').pop();
                    {#$('.recipient-list').addClass('text-center').attr("readonly", "readonly").val(filename);#}

                }
                $('.upload-csv-label').find('div').text(filename);
            })
            // Firefox bug fix
            .on( 'focus', function(){ $('.upload-csv').addClass( 'has-focus' ); })
            .on( 'blur', function(){ $('.upload-csv').removeClass( 'has-focus' ); });{% endcomment %}

            {% comment %}$('.upload-csv').fileupload({
                dataType : 'json',
                done: function (e, data) {
                    try {
                        if (data.result.is_valid){
                            $('.recipient-list').addClass('text-center').attr("readonly", "readonly").val(filename);
                            $('.reset-recipient-list').show()
                        }
                        else{
                            $('.recipient-list').addClass('text-center').attr("readonly", "readonly").val('Invalid contact file !');
                        }
                    }
                    catch (err){
                        alert(err.message);
                        $('.recipient-list').addClass('text-center').attr("readonly", "readonly").val('Invalid contact file !');
                    }

                }
            });{% endcomment %}

           {% comment %} $('.uploader').on('change', function (csvFile) {
                if (csvFile.target.value) {
                    filename = csvFile.target.value.split('\\').pop();
                    {#$('.recipient-list').addClass('text-center').attr("readonly", "readonly").val(filename);#}

                }
                $('.upload-csv-label').find('div').text(filename);
            })
            // Firefox bug fix
            .on( 'focus', function(){ $('.upload-csv').addClass( 'has-focus' ); })
            .on( 'blur', function(){ $('.upload-csv').removeClass( 'has-focus' ); });{% endcomment %}

            var uploader = new qq.FileUploader({
                {#debug: true,#}
                template:
                '<div class="qq-uploader">' +
                    '<div class="qq-upload-drop-area"><span></span></div>' +
                    '<div class="qq-upload-button">' +
                        '<img class="pb-10" src="{% static 'echo/img/import-csv-small.png' %}"' +
                            'style="cursor: pointer;"' +
                            'title="{% trans 'Import contact list from ' %}CSV{% trans ' file to send SMS campaign' %}">' +
                    '</div>' +
                    '<ul class="qq-upload-list"></ul>' +
                '</div>',
                allowedExtensions: ['csv'],
                action: "{% url 'echo:csv_uploader' %}",
                element: $('div#upload-container .uploader')[0],
                buttonText: "{% trans "Upload cover" %}",
                multiple: false,
                onProgress: function(id, fileName, loaded, total) {
                    $('body').css('cursor', 'wait')
                },
                onComplete: function(id, fileName, responseJSON) {
                    $('body').css('cursor', 'default');
                    if(responseJSON.success) {
                        filename = responseJSON.filename;
                        csv_name = filename.split('.').shift();
                        $('.upload-csv-label').text(csv_name);
                        $('.recipient-list').addClass('text-center').attr("readonly", "readonly").val(csv_name);
                        $('.reset-recipient-list').show()
                    } else {
                        alert("{% trans 'upload failed!' %}");
                    }
                },
                message: {
                    typeError: "Please give a valid CSV file, use our given example to avoid error."
                },
                params: {
                    'csrf_token': '{{ csrf_token }}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken'
                }
            });


            $('.send-to-all').click(function () {
                csv_name = '';
                $('.upload-csv-label').text(csv_name);
                $('.recipient-list').addClass('text-center').attr("readonly", "readonly").val('[All Community]');
                $('.reset-recipient-list').show()
            });

            $('.reset-recipient-list').click(function () {
                csv_name = '';
                $('.upload-csv-label').text(csv_name);
                $('.recipient-list').removeClass('text-center').removeAttr("readonly").focus().val("");
                $(this).hide();
            });

            $('.btn-send').click(function () {
                if ($('.btn-send').hasClass('disabled')) return;
                var recipient = $('.recipient-list').val();
                var subject = $('.subject').val();
                var txt = $('.text').val();
                var endpoint = "{% url 'echo:sms_campaign' %}";
                var params = {action: 'start_campaign', filename:filename, recipients: recipient, subject: subject, txt: txt};

                $.getJSON(endpoint, params, function (data) {
                    if (data.error) {
                        $('#insufficient-balance-modal').modal('show')

                    }else {
                        var $historyTpl = $('.event.tpl').clone().removeClass('tpl');
                        $historyTpl.find('.event-title').text(subject);
                        $historyTpl.find('.event-message').text(txt);
                        $historyTpl.prependTo('.campaign-list').addClass('running').attr('id', data.campaign.id);
                        intervalId = setInterval(updateProgressBar, 100)
                    }
                })
            });

            function updateProgressBar() {
                if ($('.event.running').length === 0) {
                    clearInterval(intervalId);
                    {#return#}
                }
                else{
                    $('.event.running').each(function () {
                        var campaignId = $(this).attr('id');
                        var params = {action: 'get_campaign_progress', campaign_id: campaignId};

                        $.getJSON('', params, function (data) {
                            var progressState = (data.progress / data.total) * 100;
                            $('#' + campaignId).find('.progress-bar').css('width', progressState + '%');
                            if (progressState === 100) $('#' + campaignId).removeClass('running')
                        });
                    });
                }
            }
            var intervalId = setInterval(updateProgressBar, 100);
{% comment %}

            $('.input-daterange').datepicker({
                autoclose: true,
                clearBtn: true,
                format: "dd/mm/yy",
                todayHighlight: true
            });
{% endcomment %}

        })();
    </script>
    <script>
        embedDoc.initEmbedDoc("{% trans "Remind me later" %}", "{% trans "Got it!" %}", "{% trans "Show Help" %}")
    </script>
{% endblock %}
